<center><%= simple_form_for @cliente, :html => { :class => 'form-horizontal' } do |f| %></center>
  <%= f.input :tipodoc_id %>
  <%= f.input :Numero_documento %>
  <%= f.input :Nombres %>
  <%= f.input :Apellidos %>
  <%= f.input :Telefono %>
  <%= f.input :Celular %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.Cancelar")),
                clientes_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>
