<%- model_class = Cliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='cliente'>
  <p><%= @cliente.id %></p>
  <p><%= @cliente.tipodoc.id %></p>
  <p><%= @cliente.numero_documento %></p>
  <p><%= @cliente.nombres %></p>
  <p><%= @cliente.apellidos %></p>
  <p><%= @cliente.telefono %></p>
  <p><%= @cliente.celular %></p>
</div>