<%- model_class = Cliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='cliente'>
  <p><%= @cliente.id %></p>
  <p>Tipodoc <%= @cliente.tipodoc_id %></p>
  <p>Numero documento <%= @cliente.numero_documento %></p>
  <p>Nombres <%= @cliente.nombres %></p>
  <p>Apellidos <%= @cliente.apellidos %></p>
  <p>Direccion <%= @cliente.direccion %></p>
  <p>Telefono <%= @cliente.telefono %></p>
  <p>Celular <%= @cliente.celular %></p>
</div>