<br>
<br>
<br>
<hr>
<%- model_class = Cliente -%>
<center>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<center><dl class="dl-horizontal"></center>
  <dt><strong><%= model_class.human_attribute_name(:tipodoc_id) %>:</strong></dt>
  <br>
  <dd><%= @cliente.tipodoc_id %></dd>
  <br>
  <dt><strong><%= model_class.human_attribute_name(:Numero_documento) %>:</strong></dt>
  <br>
  <dd><%= @cliente.Numero_documento %></dd>
  <br>
  <dt><strong><%= model_class.human_attribute_name(:Nombres) %>:</strong></dt>
  <br>
  <dd><%= @cliente.Nombres %></dd>
  <br>
  <dt><strong><%= model_class.human_attribute_name(:Apellidos) %>:</strong></dt>
  <br>
  <dd><%= @cliente.Apellidos %></dd>
  <br>
  <dt><strong><%= model_class.human_attribute_name(:Telefono) %>:</strong></dt>
  <br>
  <dd><%= @cliente.Telefono %></dd>
  <br>
  <dt><strong><%= model_class.human_attribute_name(:Celular) %>:</strong></dt>
  <br>
  <dd><%= @cliente.Celular %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.Atras")),
              clientes_path, :class => 'btn btn-inverse'  %>
  <%= link_to t('.edit', :default => t("helpers.links.Editar")),
              edit_cliente_path(@cliente), :class => 'btn btn-info' %>
  <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
              cliente_path(@cliente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro?')) },
              :class => 'btn btn-danger' %>
</div>
</center>
