<tr id=<%= "cotizacion_#{cotizacion.id}" %>>
  <td><%= link_to cotizacion.id, edit_cotizacion_path(cotizacion), :remote => true %></td>
  <td><%= cotizacion.fecha %></td>
  <td><%= cotizacion.tipodoc_id %></td>
  <td><%= cotizacion.numero_documento %></td>
  <td><%= cotizacion.nombres %></td>
  <td><%= cotizacion.apellidos %></td>
  <td><%= cotizacion.producto_id %></td>
  <td><%= cotizacion.valor_id %></td>
  <td>
    <%= link_to 'Mostrar', cotizacion, :remote => true, :class => 'btn btn-mini btn-success' %>
    <%= link_to 'Editar', edit_cotizacion_path(cotizacion), :remote => true,
        :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Eliminar', cotizacion, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>