<%- model_class = Cotizacion -%>
<div class="page-header">
 <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='cotizacion'>
 <p>Ciudad <%= @cotizacion.ciudad %></p>
 <p>Fecha <%= @cotizacion.fecha %></p>
 <p>Tipodoc <%= @cotizacion.tipodoc_id %></p>
 <p>Numero documento <%= @cotizacion.numero_documento %></p>
 <p>Nombres <%= @cotizacion.nombres %></p>
 <p>Apellidos <%= @cotizacion.apellidos %></p>
 <p>Direccion <%= @cotizacion.direccion %></p>
 <p>Telefono <%= @cotizacion.telefono %></p>
</div>