<center><img src="assets/login.png"></center>
<br>
<br>
<center>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :usuario %>
    <%= text_field_tag :username, params[:username] %>
  </div>
  <div class="field">
    <%= label_tag :contraseña %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag :recordarme %>
  </div>
  <div class="actions"><%= submit_tag "Iniciar sesion", :class =>'btn btn-success' %></div>
<% end %>
</center>