<tr id=<%= "estadoentrega_#{estadoentrega.id}" %>>
  <td><%= link_to estadoentrega.id, edit_estadoentrega_path(estadoentrega), :remote => true %></td>
  <td><%= estadoentrega.descripcion %></td>
  <td>
    <%= link_to image_tag('ver.gif', :title => "mostrar"), estadoentrega, :remote => true, :class => 'btn btn-mini btn-success' %>
   <%= link_to image_tag('editar.gif', :title => "editar"), edit_estadoentrega_path(estadoentrega), :remote => true,
       :class => 'btn btn-mini btn-info' %>
   <%= link_to image_tag('eliminar.gif', :title => "eliminar"), estadoentrega, 
       :data => { :confirm => 'Esta Seguro?' },
       :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>