<tr id=<%= "estadoentrega_#{estadoentrega.id}" %>>
  <td><%= link_to estadoentrega.id, edit_estadoentrega_path(estadoentrega), :remote => true %></td>
  <td><%= estadoentrega.descripcion %></td>
  <td>
    <%= link_to 'Mostrar', estadoentrega, :remote => true, :class => 'btn btn-mini btn-success' %>
    <%= link_to 'Editar', edit_estadoentrega_path(estadoentrega), :remote => true,
        :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Eliminar', estadoentrega, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>