<%= javascript_include_tag "pagos.js" %>

<%= simple_form_for(@pago, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

    <%= f.input :fecha, :label => "Fecha",  :required => true, :input_html => { :class => 'datepicker' } %>
  <%= f.input :nombres, :label => "Nombres",  :required => true %>
  <%= f.input :apellidos, :label => "Apellidos",  :required => true %>
  <%= f.label :factura_id %>
  <%= f.collection_select :factura_id, Factura.all, :id, :cantidad, prompt: "Factura"  %>
  <br>
  <br>
  <%= f.label :valor_id %>
  <%= f.collection_select :valor_id, Valor.all, :id, :valor_unitario, prompt: "Valor"  %>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-info' %>
    <%= link_to 'Atras', pagos_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>
