<tr id=<%= "pago_#{pago.id}" %>>
  <td><%= link_to pago.id, edit_pago_path(pago), :remote => true %></td>
  <td><%= pago.fecha %></td>
  <td><%= pago.nombres %></td>
  <td><%= pago.apellidos %></td>
  <td><%= pago.factura_id %></td>
  <td><%= pago.valor_id %></td>
  <td>
    <%= link_to 'Mostrar', pago, :remote => true, :class => 'btn btn-mini btn-success' %>
    <%= link_to 'Editar', edit_pago_path(pago), :remote => true,
        :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Eliminar', pago, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>