<tr id=<%= "pago_#{pago.id}" %>>
  <td><%= link_to pago.id, edit_pago_path(pago), :remote => true %></td>
  <td><%= pago.fecha %></td>
  <td><%= pago.nombres %></td>
  <td><%= pago.apellidos %></td>
  <td><%= pago.estado_entrega_id %></td>
  <td><%= pago.valor %></td>
  <td>
    <%= link_to image_tag('ver.gif', :title => "mostrar"), pago, :remote => true, :class => 'btn btn-mini btn-success' %>
   <%= link_to image_tag('editar.gif', :title => "editar"), edit_pago_path(pago), :remote => true,
       :class => 'btn btn-mini btn-info' %>
   <%= link_to image_tag('eliminar.gif', :title => "eliminar"), pago, 
       :data => { :confirm => 'Esta Seguro?' },
       :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>