<%- model_class = Pago -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='pago'>
  <p>Fecha <%= @pago.fecha %></p>
  <p>Nombres <%= @pago.nombres%></p>
  <p>Apellidos <%= @pago.apellidos %></p>
  <p>Estado entrega <%= @pago.estado_entrega_id %></p>
  <p>Valor <%= @pago.valor %></p>
</div>
