<tr id=<%= "factura_#{factura.id}" %>>
  <td><%= link_to factura.id, edit_cotizacion_factura_path(@cotizacion,factura), :remote => true %></td>
   <td><%= factura.fecha %></td>
   <td><%= factura.cantidad %></td>
   <td><%= factura.producto_id %></td>
   <td><%= factura.subtotal %></td>
   <td>
    <%= link_to image_tag('ver.gif', :title => "mostrar"), cotizacion_factura_path(@cotizacion,factura), :remote => true, :class => 'btn btn-mini btn-success' %>
   <%= link_to image_tag('editar.gif', :title => "editar"), edit_cotizacion_factura_path(@cotizacion,factura), :remote => true,
       :class => 'btn btn-mini btn-info' %>
   <%= link_to image_tag('eliminar.gif', :title => "eliminar"), cotizacion_factura_path(@cotizacion,factura), 
       :data => { :confirm => 'Esta Seguro?' },
       :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
    <%= link_to 'Pdf', cotizacion_factura_path(@cotizacion,factura, :format => 'pdf'), :class => 'btn btn-mini btn-inverse'%>
  </td>
</tr>
