<%= simple_form_for(@factura, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :fecha, :label => "Fecha",  :required => true %>
  <%= f.input :nombres, :label => "Nombres",  :required => true %>
  <%= f.input :apellido, :label => "Apellido",  :required => true %>
  <%= f.input :cantidad, :label => "Cantidad",  :required => true %>
  <%= f.input :productos, :label => "Productos",  :required => true %>
  <%= f.label :cotizacion_id %>
  <%= f.collection_select :cotizacion_id, Cotizacion.all, :id, :numero_cotizacion, prompt: "Cotizacion"  %>
  <br>
  <br>
  <%= f.label :valor_id %>
  <%= f.collection_select :valor_id, Valor.all, :id, :valor_unitario, prompt: "Valor"  %>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-info' %>
    <%= link_to 'Atras', facturas_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>