<%= simple_form_for(@factura, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :fecha, :label => "Fecha",  :required => true %>
  <%= f.input :numero_factura, :label => "Numero_factura",  :required => true %>
  <%= f.input :nombres, :label => "Nombres",  :required => true %>
  <%= f.input :apellido, :label => "Apellido",  :required => true %>
  <%= f.input :cantidad, :label => "Cantidad",  :required => true %>
  <%= f.input :productos, :label => "Productos",  :required => true %>
  <%= f.input :cotizacion_id, :label => "cotizacion_id",  :required => true %>
   <%= f.input :valor_id, :label => "valor_id",  :required => true %>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-info' %>
    <%= link_to 'Atras', facturas_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>