<%- model_class = Factura -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='factura'>
  <p><%= @factura.fecha %></p>
  <p><%= @factura.tipodoc_id %></p>
  <p><%= @factura.numero_documento %></p>
  <p><%= @factura.nombres %></p>
  <p><%= @factura.apellidos %></p>
  <p><%= @factura.cantidad %></p>
  <p><%= @factura.producto_id %></p>
  <p><%= @factura.valor %></p>
  <p><%= @factura.cotizacion_id %></p>
</div>
