<br><br><br><br><br><br><br><br>
<center>
<%- model_class = Factura -%>
<div class="page-header">
  <h1>Factura</h1>
</div>
<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
Factura
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Buscar", :class => 'btn btn-inverse', :name => nil %>
<% end %>
<% end %>
</center>
<hr>
<br><br><br><br><br><br><br><br>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>Fecha</th>
      <th>Tipodoc</th>
      <th>Numero documento</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Cantidad</th>
      <th>Productos</th>
      <th>Valor</th>
       <th></th>
    </tr>
  </thead>
  <tbody>
   <%= render @facturas %>
  </tbody>
  <tfoot>
    <tr>
    </tr>
  </tfoot>
</table>
 <center><td><%= link_to 'Nueva factura', new_cotizacion_factura_path, :class => 'btn btn-success', :remote => true %></td></center>
<br />
<br />
<div align="center">
<%= will_paginate @facturas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p>
  <center>
Total Facturas : <%= @facturas.total_entries %>
</center>
</p>
