<%= javascript_include_tag "despachos.js" %>

<%= simple_form_for(@despacho, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

<%= f.error_notification %>

   <%= f.input :fecha, :label => "Fecha",  :required => true, :input_html => { :class => 'datepicker' } %>
  <%= f.input :encargado, :label => "Encargado",  :required => true %>
  <%= f.label :pagos_id %>
  <%= f.collection_select :pagos_id, Pago.all, :id, :nombres, prompt: "Pago"  %>
  <br>
  <br>
  <%= f.label :estado_entrega_id %>
  <%= f.collection_select :estado_entrega_id, Estadoentrega.all, :id, :descripcion, prompt: "Estadoentrega"  %>
  

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-info' %>
    <%= link_to 'Atras', despachos_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>
