<%= javascript_include_tag "pedidos.js" %>

<%= simple_form_for([@cliente,@pedido], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

 <%= f.input :fecha, :label => "Fecha",  :required => true, :input_html => { :class => 'datepicker' } %>
  <%= f.label :producto_id %>
  <%= f.collection_select :producto_id, Producto.all, :id, :codigo, prompt: "Producto"  %>
  <br>
  <br>
  <%= f.input :valor, :label => "Valor",  :required => true %>
  <br>
  <br>
  <%= f.input :cantidad, :label => "Cantidad",  :required => true %>
  
  

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-info' %>
    <%= link_to 'Atras', cliente_pedidos_path(@cliente), :class => 'btn btn-inverse' %>
  </div>
<% end %>

