<%= simple_form_for([@cliente,@pedido], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :fecha, :label => "Fecha",  :required => true %>
  <%= f.input :numero_pedido, :label => "Numero_pedido",  :required => true %>
  <%= f.input :cantidad, :label => "Cantidad",  :required => true %>
  <%= f.input :producto_id, :label => "producto_id",  :required => true %>
  <%= f.input :valor_id, :label => "valor_id",  :required => true %>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-info' %>
    <%= link_to 'Atras', cliente_pedidos_path(@cliente), :class => 'btn btn-inverse' %>
  </div>
<% end %>

