<tr id=<%= "pedido_#{pedido.id}" %>>
  <td><%= link_to pedido.id, edit_cliente_pedido_path(@cliente, pedido), :remote => true %></td>
  <td><%= pedido.fecha %></td>
  <td><%= pedido.numero_pedido %></td>
  <td><%= pedido.cantidad %></td>
  <td><%= pedido.producto_id %></td>
  <td><%= pedido.cliente_id %></td>
  <td><%= pedido.valor_id %></td>
  <td>
    <%= link_to image_tag('ver.gif', :title => "mostrar"), cliente_pedido_path(@cliente, pedido), :remote => true, :class => 'btn btn-mini btn-success' %>
    <%= link_to image_tag('editar.gif', :title => "editar"), edit_cliente_pedido_path(@cliente, pedido), :remote => true,
        :class => 'btn btn-mini btn-info' %>
    <%= link_to image_tag('eliminar.gif', :title => "eliminar"), cliente_pedido_path(@cliente, pedido), 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>