<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='pedido'>
  <p><%= @pedido.id %></p>
  <p><%= @pedido.fecha %></p>
  <p><%= @pedido.producto_id %></p>
  <p><%= @pedido.cantidad %></p>
  <p><%= @pedido.valor %></p>
</div>