<br>
<br>
<br>
<br>
<%- model_class = Pedido -%>
<center><h1>Pedidos</h1></center>
<br>
<hr>
<br>
<center><img src="http://www.proveedorunico.com/imgcentral_compras.jpg!125_125_1.00.jpg"></center>
<br>
<hr>
<br>
<br>
<br>
<br>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>Fecha</th>
      <th>Producto</th>
      <th>Valor</th>
      <th>Cantidad</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @pedidos %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nuevo Pedido', new_cliente_pedido_path(@cliente), :class => 'btn btn-success', :remote => true %></td>
      <td>
        Total Pedidos : <%= @pedidos.total_entries %>
      </td>
    </tr>
  </tfoot>
</table>
<%= link_to 'Atras', clientes_path, :class => 'btn btn-inverse' %>
<br />
<br />
<div align="center">
<%= will_paginate @pedidos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>


