<center><%= simple_form_for @valor, :html => { :class => 'form-horizontal' } do |f| %></center>
  <%= f.input :valor_unitario %>
  <%= f.input :valor_total %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.Cancelar")),
                valores_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>
