<tr id=<%= "valor_#{valor.id}" %>>
  <td><%= link_to valor.id, edit_valor_path(valor), :remote => true %></td>
  <td><%= valor.valor_unitario %></td>
  <td><%= valor.valor_total %></td>
  <td>
    <%= link_to image_tag('ver.gif', :title => "mostrar"), valor, :remote => true, :class => 'btn btn-mini btn-success' %>
    <%= link_to image_tag('editar.gif', :title => "editar"), edit_valor_path(valor), :remote => true,
        :class => 'btn btn-mini btn-info' %>
    <%= link_to image_tag('eliminar.gif', :title => "eliminar"), valor, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>