<%- model_class = Valor -%>
<br>
<hr>
<br>
<center>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<img src="http://sanluis-antioquia.gov.co/apc-aa-files/66616563663538356637366262663137/signo_pesos.jpg"></center>
<br>
<hr>
<br>
<br>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:valor_unitario) %></th>
      <th><%= model_class.human_attribute_name(:valor_total) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @valores.each do |valor| %>
      <tr>
        <td><%= link_to valor.id, valor_path(valor) %></td>
        <td><%= valor.valor_unitario %></td>
        <td><%= valor.valor_total %></td>
        <td><%=l valor.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.Editar")),
                      edit_valor_path(valor), :class => 'btn btn-mini btn-info' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
                      valor_path(valor),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<center>
<%= link_to t('.new', :default => t("helpers.links.Nuevo")),
            new_valor_path,
            :class => 'btn btn-success' %>
</center>