<%= simple_form_for(@producto, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :codigo, :label => "Codigo",  :required => true %>
  <%= f.label :tamano_id %>
  <%= f.collection_select :tamano_id, Tamano.all, :id, :descripcion, prompt: "Tamano"  %>
  <br>
  <br>
  <%= f.label :tipo_id %>
  <%= f.collection_select :tipo_id, Tipo.all, :id, :Descripcion, prompt: "Tipo"  %>
  <br>
  <br>
  <%= f.input :valor, :label => "Valor",  :required => true %>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-info' %>
    <%= link_to 'Atras', productos_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>