<tr id=<%= "producto_#{producto.id}" %>>
  <td><%= link_to producto.id, edit_producto_path(producto), :remote => true %></td>
  <td><%= producto.codigo %></td>
  <td><%= producto.tamano_id %></td>
  <td><%= producto.tipo_id %></td>
  <td><%= producto.valor_id %></td>
  <td>
    <%= link_to 'Mostrar', producto, :remote => true, :class => 'btn btn-mini btn-success' %>
    <%= link_to 'Editar', edit_producto_path(producto), :remote => true,
        :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Eliminar', producto, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>