<tr id=<%= "producto_#{producto.id}" %>>
  <td><%= link_to producto.id, edit_producto_path(producto), :remote => true %></td>
  <td><%= producto.tipo_id %></td>
  <td><%= producto.tamano_id %></td>
  <td><%= producto.descripcion %></td>
  <td><%= producto.valor %></td>
  <td>
    <%= link_to image_tag('ver.gif', :title => "mostrar"), producto, :remote => true, :class => 'btn btn-mini btn-success' %>
   <%= link_to image_tag('editar.gif', :title => "editar"), edit_producto_path(producto), :remote => true,
       :class => 'btn btn-mini btn-info' %>
   <%= link_to image_tag('eliminar.gif', :title => "eliminar"), producto, 
       :data => { :confirm => 'Esta Seguro?' },
       :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>