<%- model_class = Producto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='producto'>
  <p>Producto <%= @producto.id %></p>
  <p>Tipo <%= @producto.tipo_id %></p>
  <p>Tamaño <%= @producto.tamano_id %></p>
  <p>Descripcion <%= @producto.descripcion %></p>
  <p>Valor <%= @producto.valor %></p>
</div>