<tr id=<%= "cotizaciondetalle_#{cotizaciondetalle.id}" %>>
  <td><%= link_to cotizaciondetalle.id, edit_cotizacion_cotizaciondetalle_path(@cotizacion,cotizaciondetalle), :remote => true %></td>
  <td><%= cotizaciondetalle.producto_id %></td>
  <td><%= cotizaciondetalle.cantidad %></td>
  <td><%= cotizaciondetalle.subtotal %></td>
  <td>
    <%= link_to image_tag('ver.gif', :title => "mostrar"), cotizacion_cotizaciondetalle_path(@cotizacion,cotizaciondetalle), :remote => true, :class => 'btn btn-mini btn-success' %>
    <%= link_to image_tag('editar.gif', :title => "editar"), edit_cotizacion_cotizaciondetalle_path(@cotizacion,cotizaciondetalle), :remote => true,
        :class => 'btn btn-mini btn-info' %>
    <%= link_to image_tag('eliminar.gif', :title => "eliminar"), cotizacion_cotizaciondetalle_path(@cotizacion,cotizaciondetalle), 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
    <%= link_to 'Pdf', cotizacion_cotizaciondetalle_path(@cotizacion,cotizaciondetalle, :format => 'pdf'), :class => 'btn btn-mini btn-inverse' %>
  </td>
</tr>