<tr id=<%= "cotizaciondetalle_#{cotizaciondetalle.id}" %>>
  <td><%= link_to cotizaciondetalle.id, edit_cotizaciondetalle_path(cotizaciondetalle), :remote => true %></td>
  <td><%= cotizaciondetalla.producto_id %></td>
  <td><%= cotizaciondetalla.cantidad %></td>
  <td><%= cotizaciondetalla.subtotal %></td>
  <td>
    <%= link_to 'Mostrar', cotizaciondetalle, :remote => true, :class => 'btn btn-mini btn-success' %>
    <%= link_to 'Editar', edit_cotizaciondetalle_path(cotizaciondetalle), :remote => true,
        :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Eliminar', cotizaciondetalle, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>