<p id="notice"><%= notice %></p>

<p>
  <b>Producto:</b>
  <%= @cotizaciondetalle.producto_id %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @cotizaciondetalle.cantidad %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @cotizaciondetalle.subtotal %>
</p>


<%= link_to 'Edit', edit_cotizaciondetalle_path(@cotizaciondetalle) %> |
<%= link_to 'Back', cotizaciondetalles_path %>
