<ul class="nav">
<!-- if user_signed_in? %> -->
<li>
<li>
<%= link_to('Tipodocs', tipodocs_path) %>
</li>
</li>
<li>
<%= link_to('Tamaños', tamanos_path) %>
</li>
<li>
<%= link_to('Tipos', tipos_path) %>
</li>
<li>
<%= link_to('Valores', valores_path) %>
</li>
<li>
<%= link_to('Productos', productos_path) %>
</li>
<li>
<%= link_to('Clientes', clientes_path) %>
</li>
<!-- else %> -->
<!-- end %> -->
<!-- if user_signed_in? %> -->
<li>
<%= link_to('Cotizaciones', cotizaciones_path) %>
</li>
<li>
<%= link_to('Facturas', facturas_path) %>
</li>
<li>
<%= link_to('Pagos', pagos_path) %>
</li>
<li>
<%= link_to('Estado entregas', estadoentregas_path) %>
</li>
<li>
<%= link_to('Despachos', despachos_path) %>
</li>
<!-- else %> -->
<li>
<%= link_to "Salir", logout_path %>
</li>
<!-- end %> -->
</ul>
<div id="container">
    <div class="user_nav">
      <% if current_user %>
      <font color="white">
        Sesion iniciada en <%= current_user.email %>
        <font color="black">
      <% else %>
        <%= link_to "Registrarse", signup_path %> o
        <%= link_to "Iniciar sesion", login_path %>.
      <% end %>
    </div>
